DRY_RUN=true
PAPER_TRADING=true
LIVE_TRADING=false
CONFIRM_LIVE_TRADING=

IBKR_HOST=127.0.0.1
IBKR_PORT=7497
IBKR_CLIENT_ID=101
IBKR_ACCOUNT_ID=

AUTO_SUBMIT_PAPER_ORDERS=false
ALLOW_MARKET_ORDERS=false
ALLOW_FRACTIONAL_SHARES=true
